	<footer class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-4">
				<a class="phoneNumber phoneNumber-footer" href="tel:+{{ site.phoneLink }}">
					<i class="fa fa-phone"></i> {{ site.phone }}
				</a>
				<a href="{{ site.secure }}">
				<button class="btn quoteButton quoteButton-largeThin quoteButton-footer">
					Fast Online Quote <i class="fa fa-arrow-right"></i>
				</button>
				</a>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-8">
				<div class="row">
					<div class="col-xs-12 trustBar">
						<span class="fa-stack fa-lg fa-2x pull-right">
							<i class="fa fa-circle fa-stack-2x"></i>
							<i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
						</span>
						<span class="fa-stack fa-lg fa-2x pull-right">
							<i class="fa fa-circle fa-stack-2x"></i>
							<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
						</span>
					</div>
					<div class="col-xs-12 pull-right">

						<address>
							<small>Registered Office</small><br>
							<strong>Nationwide Autoglaze Manchester</strong><br>
							33 Leroy Drive, Blackley<br>
							Manchester, M9 7EW<br>
						</address>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,700' rel='stylesheet' type='text/css'>
	
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.1.min.js"> </script>
	<script type="text/javascript" src="js/skrollr.js"> </script>
	<script type="text/javascript" src="js/output.min.js"> </script>

</body>
</html>