<meta name="viewport" content="width=device-width, user-scalable=no">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="css/default.css">
</head>
<body>
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-WBL5V5"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WBL5V5');</script>
<!-- End Google Tag Manager -->

	<header class="container">
		<div class="row">
			<a href="index.html"><div class="col-xs-4 col-sm-5 header_logo"></div></a>
			<div class="col-xs-8 col-sm-6 header-cta pull-right">
				<a class="phoneNumber phoneNumber-header" href="tel:+{{ site.phoneLink }}">
					<i class="fa fa-phone"></i> {{ site.phone }}
				</a>
				<a href="{{ site.secure }}">
				<button class="btn quoteButton quoteButton-largeThin hidden-xs">
					Fast Online Quote <i class="fa fa-arrow-right"></i>
				</button>
				</a>
			</div>
			<nav class="linkbar col-xs-12" role="navigation">
				<div class="linkbar_header">
				</div>
				<ul class="linkbar_links">
					<li class="linkbar_item"><a href="repair.html">Repair</a></li>
					<li class="linkbar_item"><a href="replacement.html">Replacements</a></li>
					<li class="linkbar_item"><a href="cost.html">Cost</a></li>
					<li class="linkbar_item"><a href="about.html">About</a></li>
				</ul>
			</nav>		
		</div>
	</header>